<div class="row">
	<div class="span4 offset4">
		<h1>Login</h1>
		<br>
		<%= form_tag sessions_path do %>
		  <div class="field input-prepend">
		  	<span class="add-on">Username</span>
		    <%= text_field_tag :username, nil, placeholder: "Username" %>
		  </div>
		  <div class="field input-prepend">
		  	<span class="add-on">Password</span>
		    <%= password_field_tag :password, nil, placeholder: "Password" %>
		  </div>
	      <div class="field">
	        <label class="checkbox" for='<%="#{:remember_me}"%>' style="float: left;">
	          <%= check_box_tag :remember_me, 1, params[:remember_me] %> Remember Me
	        </label>
	        <%= link_to "Forgot Password?", new_password_reset_path, style: "float: right;" %>
	      </div>
				<div class="actions">
					<%= submit_tag "Login", class: "btn btn-primary btn-large span4" %>
				</div>
		<% end %>
	</div>
</div>
