<%= stylesheet_link_tag "chosen", :media => "all" %>
<div id="auction_index_search_row" class="row">
	<%= form_tag auctions_path, { method: :get, class: "form-inline" } do %>
		<fieldset>
			<legend>Filter Auctions</legend>
			<div class="auction_index_search_form_padding">
				<div class="span3">
					<%= label_tag :search, "Search", class: "control-label" %>
					<div class="control-group">
						<div class="controls">
							<%= text_field_tag :search, params[:search], class: "" %>
						</div>
					</div>
				</div>
				<div class="span2">
					<%= label_tag :price_min, "Min. Price", class: "control-label" %>
					<div class="control-group">
						<div class="controls">
							<div class="input-prepend">
								<span class="add-on">$</span>
								<%= text_field_tag :price_min, params[:price_min], class: "input-small" %>
							</div>
						</div>
					</div>
				</div>
				<div class="span2">
					<%= label_tag :price_max, "Max. Price", class: "control-label" %>
					<div class="control-group">
						<div class="controls">
							<div class="input-prepend">
								<span class="add-on">$</span>
								<%= text_field_tag :price_max, params[:price_max], class: "input-small" %>
							</div>
						</div>
					</div>
				</div>
				<div class="span3">
					<div id="auction_index_search_ended_auctions_div">
						<label for="show_ended" class="checkbox">
							<input type="checkbox" id="show_ended" name="show_ended"<%= " checked" unless params[:show_ended].blank? %> >
							&nbsp;Show Ended Auctions
						</label>
					</div>
					<div>
						<label for="num_per_page" class="control-label">
							<%= select_tag(:num_per_page, options_for_select([[4,4], [8,8], [12,12], [16,16], [20,20]], params[:num_per_page] || 12), class: "span1") %>
							&nbsp;per page
						</label>
					</div>
				</div>
				<div class="span2">
					<div>
						<button type="submit" class="btn btn-primary" id="auction_index_search_btn" ><i class="icon-search icon-white"></i>&nbsp;Search</button>
					</div>
					<div class="auction_index_search_push_down">
						<%= link_to "Show All Active", auctions_path, { class: "btn", id: "auction_index_show_active_btn"} %>
					</div>
				</div>
			</div>
			<div class="span9">
				<select id="auction_category" name="categories[]" data-placeholder="Choose some categories..."  multiple class="chzn-select" style="width: 100%;">
		      <%= options_from_collection_for_select(Category.all, 'id', 'name', @category_ids) %>
		    </select>
			</div>
		</fieldset>
	<% end %>
</div><!-- /row -->
<div id="auction_index_auction_list_row" class="row">
	<div class="span12">
		<%= render "/partials/auction_list", locals: @auctions %>
	</div>
</div>

<%= javascript_include_tag "chosen.jquery.min.js", "auction_index" %>