<%= stylesheet_link_tag "chosen", :media => "all" %>
<%= form_for @auction do |f| %>
	<%= f.text_field :name %>
  <fieldset class="inputs">
    <ol>
      <li class="string input optional stringish" id="auction_category_input">
        <label class="" for="auction_category">
          Category
        </label>
        <select id="auction_category" data-placeholder="Choose some categories..."  multiple class="chzn-select">
          <%= options_from_collection_for_select(Category.all, 'id', 'name', nil) %>
        </select>
      </li>
      <li class="string input optional stringish">
        <label>Add Categories</label>
        <input type="text" />
      </li>
    </ol>
  </fieldset>
	<%= f.text_field :description %>
  <%= f.range_field :minimum_bid_increment %>
	<%= f.text_area :terms %>
	<%= f.submit "To Step 2", class: "btn btn-large btn-success" %>
<% end %>

<%= javascript_include_tag "chosen.jquery.min.js", "admin_auctions_form" %>
