<%= javascript_include_tag "auctions_show" %>
<div class="row">
	<div class="span6">
		<div id="myCarousel" class="carousel slide" style="width: 400px;">
			<div class="carousel-inner">
			 <!-- <div class="item active">
			    <img src="http://placehold.it/400x300" alt="">
			    <div class="carousel-caption">
			      <h4>First image label</h4><!-- 
			      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> --
			    </div>
			  </div>
			  <div class="item">
			    <img src="http://placehold.it/400x300" alt="">
			    <div class="carousel-caption">
			      <h4>Second image label</h4><!-- 
			      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> --
			    </div>
			  </div>
			  <div class="item">
			    <img src="http://placehold.it/400x300" alt="">
			    <div class="carousel-caption">
			      <h4>Third image label</h4><!-- 
			      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> --
			    </div>
			  </div>
			  <div class="item">
			    <img src="http://placehold.it/400x300" alt="">
			    <div class="carousel-caption">
			      <h4>Fourth image label</h4><!-- 
			      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> --
			    </div>
			  </div>
			  <div class="item">
			    <img src="http://placehold.it/400x300" alt="">
			    <div class="carousel-caption">
			      <h4>Fifth image label</h4><!-- 
			      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> --
			    </div>
			  </div>
			  <div class="item">
			    <img src="http://placehold.it/400x300" alt="">
			    <div class="carousel-caption">
			      <h4>Sixth image label</h4><!-- 
			      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> --
			    </div>
			  </div>
			  <div class="item">
			    <img src="http://placehold.it/400x300" alt="">
			    <div class="carousel-caption">
			      <h4>Seventh image label</h4><!-- 
			      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> --
			    </div>
			  </div>
			  <div class="item">
			    <img src="http://placehold.it/400x300" alt="">
			    <div class="carousel-caption">
			      <h4>Eighth image label</h4><!-- 
			      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> --
			    </div>
			  </div>
			  <div class="item">
			    <img src="http://placehold.it/400x300" alt="">
			    <div class="carousel-caption">
			      <h4>Ninth image label</h4><!-- 
			      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> --
			    </div>
			  </div>
			  <div class="item">
			    <img src="http://placehold.it/400x300" alt="">
			    <div class="carousel-caption">
			      <h4>Tenth image label</h4><!-- 
			      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p> --
			    </div>
			  </div> -->
				<% @auction.image_urls.each  do |key, value| %>
					<div class="item<%= " active" if value.has_key?(:main) || key === @auction.image_urls.first[0] %>">
					  <%= image_tag value[:url] %>
					  <div class="carousel-caption">
					    <h4><%= value[:title] %></h4>
					  </div>
					</div>
				<% end %>
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	<!--	<ul class="thumbnails" style="width: 400px;">	
		  <li class="span1">
		    <a href="#" class="thumbnail" data-image-number="1">
		      <img src="http://placehold.it/130x90" alt="">
		    </a>
		  </li>
		  <li class="span1">
		    <a href="#" class="thumbnail" data-image-number="2">
		      <img src="http://placehold.it/130x90" alt="">
		    </a>
		  </li>
		  <li class="span1">
		    <a href="#" class="thumbnail" data-image-number="3">
		      <img src="http://placehold.it/130x90" alt="">
		    </a>
		  </li>
		  <li class="span1">
		    <a href="#" class="thumbnail" data-image-number="4">
		      <img src="http://placehold.it/130x90" alt="">
		    </a>
		  </li>
		  <li class="span1">
		    <a href="#" class="thumbnail" data-image-number="5">
		      <img src="http://placehold.it/130x90" alt="">
		    </a>
		  </li>
		  <li class="span1">
		    <a href="#" class="thumbnail" data-image-number="6">
		      <img src="http://placehold.it/130x90" alt="">
		    </a>
		  </li>
		  <li class="span1">
		    <a href="#" class="thumbnail" data-image-number="7">
		      <img src="http://placehold.it/130x90" alt="">
		    </a>
		  </li>
		  <li class="span1">
		    <a href="#" class="thumbnail" data-image-number="8">
		      <img src="http://placehold.it/130x90" alt="">
		    </a>
		  </li>
		  <li class="span1">
		    <a href="#" class="thumbnail" data-image-number="9">
		      <img src="http://placehold.it/130x90" alt="">
		    </a>
		  </li>
		  <li class="span1">
		    <a href="#" class="thumbnail" data-image-number="10">
		      <img src="http://placehold.it/130x90" alt="">
		    </a>
		  </li>
		</ul> -->
		<ul class="thumbnails">	
			<% @auction.image_urls.each_with_index  do |image_url, index| %>
				<li class="span1">
				  <a href="#" class="thumbnail" data-image-number="<%= index + 1 %>">
				  	<%= image_tag image_url[1][:thumbnail] || image_url[1][:url] %>
				  </a>
				</li>
			<% end %>
		</ul>
		
	</div>
	<div class="span6" id="Details">
		<div class="Title">
			<h2><%= @auction.name %></h2>
			<br>
		</div>
		<p>Time Remaining: 1 day</p>
		<div id="Current Bid">
			<p>Current Bid: $<%= @auction.get_current_price %> [from randomuser]</p>
			
			 
		</div>
		<div id="Place Bid">
			<%= "Place Bid:" %>
			<%= form_for @auction, html: {class: "form-horizontal"} do |b| %>
	      		<fieldset>
			        <div class="controls">
			          <%= b.text_field :get_min_new_price, placeholder: "New Bid" %>
			        </div>
			    </fieldset>
		    <% end %>
		</div>
			<%= link_to "Place Bid", nil , { class: "btn btn-large btn-success" } %>
		<div id="description1">
			<br>
			<h4><%= "Description: " %></h4>
			<br>
			<p><%= @auction.description %></p>
				<dl class="dl-horizontal">
					<% @auction.data.each do |key, value| %>
					<% Rails.logger.info "key: #{key} \n value: #{value}" %>
						<dt><%= key.to_s.gsub(/\b\w/){$&.upcase} %></dt>
						<dd><%= value %></dd>
					<% end if @auction.data %>
				</dl>
			<br>
		</div>
		<div id="Terms">
			<h4><%= "Terms: " %></h4>
			<br>
			<p>Some text will go here.</p>
			<br>
		</div>
	</div>
</div>