<%= javascript_include_tag "auctions_show" %>
<div class="row">
	<div class="span6">
		<div id="myCarousel" class="carousel slide" style="width: 400px;">
			<div class="carousel-inner">

				<% @auction.image_urls.each  do |key, value| %>
					<div class="item<%= " active" if value.has_key?(:main) || key === @auction.image_urls.first[0] %>">
					  <%= image_tag value[:url] %>
					  <div class="carousel-caption">
					    <h4><%= value[:title] %></h4>
					  </div>
					</div>
				<% end %>
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>

		<ul class="thumbnails">	
			<% @auction.image_urls.each_with_index  do |image_url, index| %>
				<li class="span1">
				  <a href="#" class="thumbnail" data-image-number="<%= index + 1 %>">
				  	<%= image_tag image_url[1][:thumbnail] || image_url[1][:url] %>
				  </a>
				</li>
			<% end %>
		</ul>
		
	</div>
	<div class="span6" id="Details">
		<div class="Title">
			<h2><%= @auction.name %></h2>
		</div>
		<dl class="dl-horizontal">
			<dt><strong>Time Remaining</strong></dt> 
			<dd><%= @auction.get_time_string %></dd>
			<dt><strong>Current Bid</strong></dt> 
			<dd>$<%= @auction.get_current_price %> [from randomuser]</dd>
			<dt></dt>
			<dd><%= form_for @auction, html: {class: "form-horizontal"} do |b| %>
			          <%= b.text_field :get_min_new_price, placeholder: "New Bid" %>
			<%= link_to "Place Bid", nil , { class: "btn btn-large btn-success" } %>
		    <% end %>
			</dd>
		<div id="description1">
			<h3>Description</h3>
			<br>
			<p><%= @auction.description %></p>
				<dl class="dl-horizontal">
					<% @auction.data.each do |key, value| %>
					<% Rails.logger.info "key: #{key} \n value: #{value}" %>
						<dt><%= key.to_s.gsub(/\b\w/){$&.upcase} %></dt>
						<dd><%= value %></dd>
					<% end if @auction.data %>
				</dl>
		</div>
		<div id="Terms">
			<h3>Terms</h3>
			<br>
			<p>Some text will go here.</p>
			<br>
		</div>
	</div>
</div>