<%= javascript_include_tag "auctions_show" %>
<div class="row">
	<div class="span6">
		<div id="myCarousel" class="carousel slide" style="width: 400px;">
			<div class="carousel-inner">

				<% @auction.images.each  do |image| %>
					<div class="item<%= " active" if image === @auction.images.first %>">
					  <%= image_tag image.auction_image.url %>
					  <div class="carousel-caption">
					    <h4><%= image.title %></h4>
					  </div>
					</div>
				<% end %>
			</div>
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>

		<ul class="thumbnails">	
			<% @auction.images.each_with_index do |image, index| %>
				<li class="span1">
				  <a href="#" class="thumbnail" data-image-number="<%= index + 1 %>">
				  	<%= image_tag image.auction_image.thumb.url %>
				  </a>
				</li>
			<% end %>
		</ul>
		
	</div>
	<div class="span6" id="Details">
		<div class="Title">
			<h2><%= @auction.name %></h2>
			<br>
		</div>
		<dl class="dl-horizontal">
			<div class="alert alert-success time-price-container">
				<dt><strong>Time Remaining</strong></dt> 
				<dd class="more_info_time" data-time-remaining="<%= @auction.time_remaining %>">
					<%= @auction.time_remaining %>
				</dd>
				<dt><strong>Current Bid</strong></dt> 
				<dd class="more_info_price" data-current-price="<%= @auction.current_price %>" data-min-bid-increment="<%= @auction.minimum_bid_increment %>">
					$<%= @auction.current_price %>
					<% if @current_bidder %>
						by <%= @current_bidder.username %>
					<% else %>
						- No bids have been placed yet.
					<% end %>
				</dd>
				<dt></dt>
				<dd>
					<%= form_tag auction_bids_path(@auction), remote: true, id: "bid_show_form", class: "form-inline" do %>
					<%= label_tag :bid_amount, "Bid Amount", class: "more-amount-label" %>
					<div class="control-group">
				        <div class="controls">
				          	<div class="input-prepend">
					            <%= label_tag :bid_amount, "$", class: "add-on", style: "margin: 0px -5px 0px 0px" %>
					            <%= text_field_tag :bid_amount, @auction.new_minimum_bid, class: "more-amount input-medium" %>
				          	</div>
			          	</div>
		          	</div>
						<%= submit_tag "Place Bid", class: "btn btn-large btn-success show-submit" %>
			    <% end %>
				</dd>
			</div>
		</dl>
		<div id="description">
			<h3>Description</h3>
			<hr />
			<p><%= @auction.description %></p>
			<dl class="dl-horizontal">
				<% @auction.data.each do |key, value| %>
					<dt><%= key.to_s.gsub(/\b\w/){$&.upcase} %></dt>
					<dd><%= value %></dd>
				<% end if @auction.data %>
			</dl>
		</div>
		<% if @auction.data %>
			<div id="details">
				<h3>Data</h3>
				<%= @auction.data.inspect %>
			</div>
		<% end %>
		<div id="Terms">
			<h3>Terms</h3>
			<br>
			<p><%= @auction.terms %></p>
			<br>
		</div>
	</div>
</div>