<script>
  var stock_modal;
  $(document).ready(function () {
    stock_modal = $('#bid_modal').clone().html();
    $(".auction_thumbnail_bid_now").click(function () {
      $('#bid_modal').html(stock_modal);
      $('#bid_modal').modal({
        backdrop: true,
        keyboard: true    
      });

      // Fill modal with copies of existing dom elements
      var auction_id = 'auction_'+ $(this).attr('id').split('_')[3];
      $('#bid_modal .modal-header').prepend($('#'+auction_id+' .auction_thumbnail_title').text());
      $('#bid_modal .modal-description').prepend($('#'+auction_id+' .auction_thumbnail_description_text').text());
      $('#bid_modal .modal-time').prepend($('#'+auction_id+' .auction_thumbnail_time').text());
      $('#bid_modal .modal-thumbnail').append($('#'+auction_id+' .auction_thumbnail_image').clone());
      $('#bid_modal #auction_id').attr('value', $(this).attr('id').split('_')[3]);

      return false;
    });
  });
</script>
<%= render "partials/bid_modal" %>
<ul class="thumbnails">
	<% @auctions.each do |auction| %>
      <li id="auction_<%= auction.id %>" class="span3">
        <div class="thumbnail auction_thumbnail">
          <img class="auction_thumbnail_image" src="http://placehold.it/210x150" alt="">
          <div class="auction_thumbnail_caption">
            <h5 class="auction_thumbnail_title"><%= auction.name %></h5>
            <div class="auction_thumbnail_description">
              <p><span class="auction_thumbnail_description_text"><%= auction.description %>&hellip;</span> <%= link_to "More Info", auction_path(auction.id), class: "auction_thumbnail_more_info" %></p>
              
            </div>
            <h5 class="auction_thumbnail_time" data-time-remaining="<%= auction.get_remaining_time %>">
              Time Remaining: <%= auction.get_time_string %>
            </h5>
            <br>
            <div>
              <%= link_to "Bid Now!", new_auction_bid_path(auction), { id: "auction_bid_btn_#{auction.id}", class: "btn btn-large btn-success auction_thumbnail_bid_now" } %>
            </div>
          </div>
        </div>
      </li>
  <% end %>
</ul>
