<script>
  var stock_modal;
  $(document).ready(function () {
    stock_modal = $('#bid_modal').clone().html();
    $(".auction_thumbnail_bid_now").click(function () {
      $('#bid_modal').html(stock_modal);
      $('#bid_modal').modal({
        backdrop: true,
        keyboard: true    
      });

      // Fill modal with copies of existing dom elements
      var id = $(this).attr('id').split('_')[3];
      var auction_id = 'auction_'+id;

      var thumbnail = $('#'+auction_id+' .auction_thumbnail_image');
      var title = $('#'+auction_id+' .auction_thumbnail_title');
      var desc = $('#'+auction_id+' .auction_thumbnail_description');
      var time = $('#'+auction_id+' .auction_thumbnail_time');

      var modal_body = $('#bid_modal .modal-body');
      var modal_title = $('#bid_modal .modal-header');
      var modal_desc = $('#bid_modal .modal-description');
      var modal_time = $('#bid_modal .modal-time');
      var modal_thumb = $('#bid_modal .modal-thumbnail');
      
      var titleClone = title.clone();
      var timeClone = time.clone();
      var descClone = desc.clone();
      //var thumbClone = thumbnail.clone();

      var titleString = titleClone.text();
      var timeString = timeClone.text();
      var descString = descClone.text();

      modal_title.append(titleString);
      modal_time.prepend(timeString);
      modal_desc.prepend(descString);
      thumbnail.clone().prependTo(modal_thumb);
      
      $('#bid_modal #auction_id').attr('val',auction_id)

      return false;
    });
  });
</script>
<%= render "partials/bid_modal" %>
<ul class="thumbnails">
	<% @auctions.each do |auction| %>
      <li id="auction_<%= auction.id %>" class="span3">
        <div class="thumbnail auction_thumbnail">
          <img class="auction_thumbnail_image" src="http://placehold.it/210x150" alt="">
          <div class="auction_thumbnail_caption">
            <h5 class="auction_thumbnail_title"><%= auction.name %></h5>
            <div class="auction_thumbnail_description">
              <p><%= auction.description %>&hellip; <%= link_to "More Info", auction_path(auction.id), class: "auction_thumbnail_more_info" %></p>
              
            </div>
            <h5 class="auction_thumbnail_time">
              Time Remaining: 00:<%= Random.new.rand(10..50) %>
            </h5>
            <br>
            <div>
              <%= link_to "Bid Now!", new_auction_bid_path(auction), { id: "auction_bid_btn_#{auction.id}", class: "btn btn-large btn-success auction_thumbnail_bid_now" } %>
            </div>
          </div>
        </div>
      </li>
  <% end %>
</ul>
