<script>
  $(function() {
    $("#bid_modal_form")
      .bind("ajax:beforeSend", function(evt, xhr, settings){
        if ( settings.dataType == undefined ) {
          xhr.setRequestHeader("Accept", "text/javascript, */*; q=0.5");
        }
      })
      .bind("ajax:error", function(evt, xhr, status, error) {
        console.log("[XHR ERROR] "+error.message);
      })
      .bind("ajax:success", function(evt, data, status, xhr) {
        // TODO: this stuff
      });
  });
</script>

<%= form_tag auction_bids_path, remote: true, id: "bid_modal_form" do %>
  <div id="bid_modal" class="modal hide fade" style="display: none;">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&times;</a>
      <!-- <h3>Submit a bid</h3> -->
    </div>
    <div class="modal-body">
        <div class="modal-thumbnail">
        </div>
        <div class="modal-description" style="height: 65px;">
        </div>
        <div class="modal-time">
        </div>
      <p>
        <%= label_tag "Bid Amount" %>
        <%= text_field_tag :bid_amount, "$500.00",class: "modal-amount" %>
        <!-- TODO: Modify this bid amount to be dynamic -->
        <%= hidden_field_tag :auction_id %>
      </p>
    </div>
    <div class="modal-footer">
      <%= submit_tag "Submit Bid", class: "btn btn-success modal-submit" %>
      <input type="button" class="btn" data-dismiss="modal" value="Cancel" style="float: left;">
    </div>
  </div>
<% end %>
