<div class="row">
  <div class="span4 offset4">
    <h1>Sign Up </h1>

    <%= labeled_form_for @user do |f| %>
      <%= f.error_messages %>
      
      <%= f.text_field :email %>
      <%= f.text_field :username %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation%>
      <%= f.submit class: "btn primary" %>
    <% end %>
  </div>
</div>