<div class="row">
	<div class="span12 columns">
    <h2>
      <%= @current_user.firstname+" "+@current_user.lastname %>
    </h2>
    <ul id="tab" class="nav nav-tabs">
      <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Auctions <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#active" data-toggle="tab">active</a></li>
          <li><a href="#won" data-toggle="tab">won</a></li>
          <li><a href="#lost" data-toggle="tab">lost</a></li>
        </ul>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="profile">
        <div class="row">
          <div class="span6">
            <table class="table">
              <tr>
                <td>
                  Username
                </td>
                <td>
                  <%= @current_user.username %>
                </td>
              </tr>
              <tr>
                <td>
                  Email
                </td>
                <td>
                  <%= @current_user.email %>
                </td>
              </tr>
              <% if @current_user.admin? %>
                <tr>
                  <td>
                    Admin
                  </td>
                  <td>
                    Yes
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
          <div class="span6">
            <h3>
              Recent Activity
            </h3>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="active">
        <p>You still have a chance to win these auctions, bid now to increase your chance of success!</p>
        <hr />
        <%= render "partials/auction_list", locals: @auctions = @active_auctions %>
      </div>
      <div class="tab-pane fade" id="won">
        <p>You have won the following auctions:</p>
        render partial here
      </div>
      <div class="tab-pane fade" id="lost">
        <p>Unfortunately you didn't win the following auctions, but you can always try to win <%= link_to "something else", auctions_path %>.</p>
        <hr />
        <p>
        </p>
      </div>
    </div>
  </div>
</div>