<div class="row">
	<div class="span12">
		<h2>
			<%= @current_user.firstname+" "+@current_user.lastname %>
		</h2>
	</div>
  <div class="span4">
  	<table class="table">
  		<tr>
  			<td>
  				Username
  			</td>
  			<td>
  				<%= @current_user.username %>
  			</td>
  		</tr>
  		<tr>
  			<td>
  				Email
  			</td>
  			<td>
  				<%= @current_user.email %>
  			</td>
  		</tr>
  		<% if @current_user.admin? %>
  			<tr>
  				<td>
  					Admin
  				</td>
  				<td>
  					Yes
  				</td>
  			</tr>
  		<% end %>
  	</table>
  	<h3>
  		Recent Bids
  	</h3>
  	<table class="table user_show_bids_table">
  		<% if @current_user.bids.length > 0 %>
  			<tr>
  				<th>
  					Auction
  				</th>
  				<th>
  					Amount
  				</th>
  				<th>
  					Date
  				</th>
  			</tr>
	  		<% @current_user.bids.find(:all, order: 'created_at desc').each do |bid| %>
	  			<tr>
	  				<td>
	  					<%= Auction.find_by_id(bid.user_id).name %>
	  				</td>
	  				<td>
	  					<%= bid.amount %>
	  				</td>
	  				<td>
	  					<%= bid.created_at %>
	  				</td>
	  			</tr>
	  		<% end %>
	  	<% else %>
	  		<tr>
	  			<td>
	  				You haven't bid on anything yet.  Why not take a look at some <%= link_to "auctions", auctions_path %>?
	  			</td>
	  		</tr>
	  	<% end %>
  	</table>
  </div>
</div>

<%= javascript_include_tag "account" %>