<div class="row">
	<div class="span12 columns">
    <h2>
      <%= @current_user.firstname+" "+@current_user.lastname %>
    </h2>
    <ul id="tab" class="nav nav-tabs">
      <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Auctions <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#active" data-toggle="tab">active</a></li>
          <li><a href="#won" data-toggle="tab">won</a></li>
          <li><a href="#lost" data-toggle="tab">lost</a></li>
        </ul>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active in" id="profile">
        <div class="row">
          <div class="span6">
            <table class="table">
              <tr>
                <td>
                  Username
                </td>
                <td>
                  <%= @current_user.username %>
                </td>
              </tr>
              <tr>
                <td>
                  Email
                </td>
                <td>
                  <%= @current_user.email %>
                </td>
              </tr>
              <% if @current_user.admin? %>
                <tr>
                  <td>
                    Admin
                  </td>
                  <td>
                    Yes
                  </td>
                </tr>
              <% end %>
            </table>
          </div>
          <div class="span6">
            <h3>
              Recent Activity
            </h3>
            <% if @bids %>
              <table class="table">
              <tr>
                <th>
                  Auction Title
                </th>
                <th>
                  Bid Time
                </th>
                <th>
                  Bid Amount
                </th>
              </tr>
                <% @bids.each do |bid| %>
                  <tr>
                    <td>
                      <%= Auction.find_by_id(bid.auction_id).name %>
                    </td>
                    <td>
                      <%= bid.created_at %>
                    </td>
                    <td>
                      <%= bid.amount %>
                    </td>
                  </tr>
                <% end %>
                </table>
            <% else %>
              <hr />
              <h4>No recent activity yet. Get to bidding!</h4>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="active">
        <% if !@active_auctions.blank? %>
          <p>You still have a chance to win these auctions, bid now to increase your chance of success!</p>
          <hr />
          <%= render "partials/auction_list", locals: @auctions = @active_auctions %>
        <% else %>
          <p>You haven't bid on anything yet. Why don't you go bid on <%= link_to "something", auctions_path %>?</p>
          <hr />
        <% end %> 
      </div>
      <div class="tab-pane fade" id="won">
        <% if !@won_auctions.blank? %>
          <p>You have won the following auctions:</p>
          <%= render "partials/auction_list", locals: @auctions = @won_auctions %>
        <% else %>
          <p>Oh, no! You haven't won anything yet.</p>
          <hr />
        <% end %>
      </div>
      <div class="tab-pane fade" id="lost">
        <% if !@lost_auctions.blank? %>
          <p>Unfortunately you didn't win the following auctions, but you can always try to win <%= link_to "something else", auctions_path %>.</p>
          <hr />
          <%= render "partials/auction_list", locals: @auctions = @lost_auctions %>
        <% else %>
          <p>Perhaps not having lost an auction is worth congratulations, but shouldn't you really be bidding on <%= link_to "something", auctions_path %>?</p>
          <hr />
        <% end %>
      </div>
    </div>
  </div>
</div>