
<%= stylesheet_link_tag "chosen", :media => "all" %>


<%= semantic_form_for [:admin, @auction] do |f| %>
	<%= f.inputs :name %>
  <fieldset class="inputs">
    <ol>
      <li class="string input optional stringish" id="auction_category_input">
        <label class="" for="auction_category">
          Category
        </label>
        <select id="auction_category" data-placeholder="Choose some categories..."  multiple class="chzn-select">
          <%= options_from_collection_for_select(Category.all, 'id', 'name', nil) %>
        </select>
      </li>
      <li class="string input optional stringish">
        <label>Add Categories</label>
        <input type="text" />
      </li>
    </ol>
  </fieldset>
	<%= f.inputs :description %>
	<%= f.inputs :terms %>
	<%= f.buttons :commit %>
<% end %>

<%= javascript_include_tag "chosen.jquery.min.js", "admin_auctions_form" %>
