.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "ReAuction", root_url, class: "brand"
      #nav.nav
        %li#nav_home{ class: ('active' if params[:controller] == "home")}
          = link_to "Home", root_url
        %li#nav_auctions{ class: ('active' if params[:controller] == "auctions")}
          = link_to "Auctions", auctions_path
        %li#nav_account{ class: ('active' if params[:controller] == "users" && params[:action] == "show")}
          = link_to "My Account", account_path
        %li#nav_help{ class: ('active' if params[:controller] == "help")}
          %a(href="/help") Help
        - if current_user && current_user.admin?
          %li.dropdown
            %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown" }
              Admin
              %b.caret
            %ul.dropdown-menu
              %li
                %a(href="/auctions/new") Add Auction
              %li
                %a(href="/admin") Advanced
      - if current_user
        %ul#nav_session.nav.pull-right
          %li
            %a(href="/logout")
              %i.icon-off.icon-white
              &nbsp;Log Out
      - else
        %ul#nav_login_form.nav.pull-right
          %li= link_to "or Sign Up", signup_path
        = form_tag sessions_path, {class: 'navbar-search pull-right form-inline'} do
          = text_field_tag :username, nil, { id: "nav_username_input", class: 'span2', placeholder: "Username"}
          = password_field_tag :password, nil, { id: "nav_password_input", class: 'span2', placeholder: "Password"}
          = submit_tag "Login", class: 'btn btn-primary', id: 'navbar_btn'