<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Capstone", root_url, class: "brand" %>
      <ul id="nav" class="nav">
        <li id="nav_home">
          <%= link_to "Home", root_url %>
        </li>
        <li id="nav_auctions">
          <%= link_to "Auctions", auctions_path %>
        </li>
        <% if current_user %>
          <li id="nav_account">
            <%= link_to "My Account", account_path %>
          </li>
        <% end %>
        <li id="nav_help">
          <%= link_to "Help", help_path %>
        </li>
        <% if current_user && current_user.admin?  %>
          <li class="">
            <a href="/admin">Admin</a>
          </li>
        <% end %>
        <% if current_user %>
          <li>
            <a href="/logout">
              <i class="icon-off icon-white"></i>
              &nbsp;Log Out
            </a>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign Up", signup_path %>
          </li>
          <li>
            <%= link_to "Log In", login_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<!-- /navbar -->
